body {
  margin: 0;
  position: relative;
  padding-bottom: 75px;
}

.mainHomes {
  display : flex;
  flex-direction: column;
  background-color:white;
  min-height: 100vh;
  }
  
  .Username {
      font-size: large;
      border-radius: 60px;
   }   
  
  .Password {
      margin-top: 45%;
    }   
  
  .login {
      margin : auto;
      float: center;
      padding: 50px;
      padding-top: 100px;
      border-radius: 60px;
  }
   
  .bigTitle {
      font-family: "Raleway", sans-serif;
      font-size: 4em;
      color : white;
      margin : auto;
  }   
   
   .input{
      font-family: "Lato", sans-serif;
      height: 30px;
      border-radius: 60px;
      width: 200px;
      text-align: center;
   }
  
   .button {
      font-family: "Raleway", sans-serif;
      border-radius: 60px;
      width: 150px;
      height: 25px;
      background-color: #FFF30D;
      color : black
   }

   *{
    margin: 0;
}

.mainHome{
    background-image: linear-gradient(to bottom, #bef3f6, #a7f2f7, #8ef2f8, #6ff1f9, #42f0fa);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.mainHome :hover{
    box-shadow: 1.3125rem 1.3125rem 2.25rem 0 rgba(0,0,0,.1);
}

.banniere {
    background-image: linear-gradient(to bottom, #f9f1f1, #f9f2f6, #f4f3fc, #ecf6fe, #e8f9fa);    
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.Creer{
    background-color: white;
    width: 25rem;
    height: 22rem;
    margin-left: 5%;
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    border-color: #eaeaea;
    background-color: #fff;
    box-shadow: 0.4375rem 0.4375rem 0.75rem 0 rgba(0,0,0,.1);
    transition: box-shadow .3s;
    text-decoration: none;
    color:rgba(243, 151, 107, 1)
}

.EnCours{
    background-color: white;
    width: 25rem;
    height: 22rem;
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    border-color: #eaeaea;
    background-color: #fff;
    box-shadow: 0.4375rem 0.4375rem 0.75rem 0 rgba(0,0,0,.1);
    transition: box-shadow .3s;
    text-decoration: none;
    color:#FFF30D;
}

.VoteEnd{
    background-color: white;
    width: 25rem;
    height: 22rem;
    margin-right: 5%;
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    border-color: #eaeaea;
    background-color: #fff;
    box-shadow: 0.4375rem 0.4375rem 0.75rem 0 rgba(0,0,0,.1);
    transition: box-shadow .3s;
    text-decoration: none;
    color:rgba(112, 175, 144, 1);
}

.imgCards{
    width: 25rem;
    height: 15rem;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    background-size: 15%;
    pointer-events: none;
}

.TitreHome{
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.TexteHome{
    color: black;
    margin-left: 2px;
    pointer-events: none;
}

.footer {
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(to bottom, #42f0fa, #41dfe8, #40ced6, #3ebdc4, #3cadb3);
    width: 100%;
    height: 75px;
  }

  .labelStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
 }

 .UsernameS,
 .PasswordS {
   font-size: large;
   border-radius: 60px;
   text-align: center;
   height: 50px;
   width: 350px;
   background-image: linear-gradient(to right top, #ffe3e3, #f6d8d8, #edcdcd, #e4c3c3, #dbb8b8);
 }
 
 ul, ol {
    list-style: none;
    pointer-events: none;
  }

h1{
    background-image: linear-gradient(to bottom, #e5fcfd, #dcfafb, #d2f8f9, #c8f5f8, #bef3f6);
    display: flex;
    justify-content: center;
}

.phoneCard {
    padding-top: 15px;
    padding-right: 15px;
    flex-basis: 50%;
    box-sizing: border-box; 
}

.Phonename{
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Phone-info{
    text-align: start;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.Phone-info2{
    text-align: start;
    font-size: 1.2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.tables {
    list-style: none;
  }
  
  .tables, .Phone-info, .Phone-info2 {
    background-color: hsl(0, 0%, 75%);
    padding-bottom: 10px;
    padding-left: 15px;
  }
